

<app-header (EventRoute)="onEventRoute($event)"></app-header>
<app-header (EventRoute)="onEventRoute($event)"></app-header>
<div class="px-5" style="display: flex;flex-direction: column;gap:4rem">
  <app-personalprofile id="Home"></app-personalprofile>
  <app-about id="About"></app-about>
  <app-staticts id="Skills"></app-staticts>
  <app-resume id="Resume"></app-resume>
  <app-experiens id="experiens"></app-experiens>
  <app-dashbord id="project"></app-dashbord>
  <app-contacts-us id="Contact"></app-contacts-us>
  <app-scroll-top></app-scroll-top>
</div>
<!-- <div class="overflow-hidden" id="particles-js"></div> -->
