.Wrapper-about {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 32, 49);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-color);
  div:first-child {
    width: 50% !important;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    p {
      color: hsla(0, 0%, 100%, 0.75);
    }
  }

  div:last-child {
    width: 50%;
  }

  .counter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100% !important;
    div {
      text-align: center;
      margin: auto;
      width: 40%;
      span {
        word-wrap: break-word;
        white-space: normal;
        color: hsla(0, 0%, 100%, 0.75);
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .Wrapper-about {
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    div:first-child {
      order: 2;
    }
    div:last-child {
      order: 1;
      img {
        width: 100% !important;
        border-radius: 10px;
      }
    }
  }
}
