<div class="row py-5 mt-5 section-profile-personal margin-section">
  <div
    class="col-12 col-xl-6 order-2 order-xl-0 m-auto text-center text-xl-start overflow-hidden"
  >
    <h2 class="animate__animated animate__lightSpeedInLeft">
      Hi! I'm Shimaa Ahamed Daowd
    </h2>
    <h3>
      And I'm a
      <span class="blue-color">
        <span
          *ngFor="let letter of currentText.split(''); let i = index"
          class="letter"
          [ngStyle]="{ 'animation-delay': i * 0.1 + 's' }"
        >
          {{ letter }}
        </span>
      </span>
    </h3>
    <p>
      Data Analyst & Instructor passionate about empowering learners to turn
      data into insights. Experienced in Power BI, SQL, and Python with strong
      expertise in dashboard design and storytelling. Helping organizations and
      professionals make smarter, data-driven decisions across
      healthcare and education
    </p>
    <div class="email-section gap-4">
      <div>
        <h3 class="blue-color">Email:</h3>
        <p>sh.daowd112&#64;gmail.com</p>
      </div>

      <div>
        <h3 class="blue-color">Phone:</h3>
        <p>+20 100 940 4627</p>
      </div>
    </div>

    <div class="button-cv">
      <button class="animate__animated animate__zoomIn">
        <a
          href="https://drive.google.com/uc?export=download&id=1OXKGrt90C7i391p9VV2TZ6gJO_TCvcdN"
          download
          class="animate__animated animate__zoomIn"
        >
          Download CV
        </a>
      </button>
    </div>

    <div class="icon-profile-personal">
      <button class="animate__animated animate__zoomIn">
        <a href="https://www.linkedin.com/in/shimaadaowd/"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
      </button>
      <button class="animate__animated animate__zoomIn">
        <a href="https://github.com/ShimaaDaowd"
          ><i class="fa-brands fa-github"></i
        ></a>
      </button>
    </div>
  </div>

  <div class="col-12 col-xl-5 order-1 text-center">
    <div class="wrapper-img text-center m-auto">
      <div class="rotating-shadow"></div>
      <img src="../../../../assets/images/81235048.jpeg" alt="person" />
    </div>
  </div>
</div>
