<div class="">
  <div class="section-resume">
    <div class="header-title">
      <h1>Resume</h1>
    </div>
    <p class="desc-resume" appFadeanmation="animate__slideInLeft">
      I have cultivated a strong educational foundation in data ​analysis
      through a combination of formal university ​education, specialized online
      courses, and professional ​certifications, equipping me with a diverse
      toolkit of ​analytical techniques and methodologies
    </p>
  </div>

  <div class="section-education pt-5">
    <h1 class="mb-4">Education</h1>
    <div class="row gy-5">
      <div class="col-11 col-xl-12" appFadeanmation="animate__slideInLeft">
        <div class="d-flex">
          <div class="shape-education">
            <div></div>
            <div></div>
          </div>

          <div class="ms-2 border-education">
            <div><i class="fa-solid fa-graduation-cap"></i></div>
            <div>
              <h1 class="h1-border">
                Master’s Degree in Machine Learning and Data Science
              </h1>
              <div>
                <h2>Sept 2022– Present</h2>
                <div class="flex-desc-education">
                  <p class="circle"></p>
                  <p>
                    Predictive Modeling and Machine Learning- Menoufia
                    University
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-11 col-xl-12" appFadeanmation="animate__slideInLeft">
        <div class="d-flex">
          <div class="shape-education">
            <div></div>
            <div></div>
          </div>

          <div class="ms-2 border-education">
            <div><i class="fa-solid fa-chart-line"></i></div>
            <div>
              <h1 class="h1-border">
                Business Intelligence Developer Intensive Camp
              </h1>
              <div>
                <h2>Nov 2023– Feb 2024</h2>
                <div class="flex-desc-education">
                  <p class="circle"></p>
                  <p>Power BI Developer Track- ITI</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-11 col-xl-12" appFadeanmation="animate__slideInLeft">
        <div class="d-flex">
          <div class="shape-education">
            <div></div>
            <div></div>
          </div>

          <div class="ms-2 border-education">
            <div><i class="fa-solid fa-certificate"></i></div>
            <div>
              <h1 class="h1-border">Bachelor’s degree in Computer Science</h1>
              <div>
                <h2>Sept 2018– Jun 2022</h2>
                <div class="flex-desc-education">
                  <p class="circle"></p>
                  <p>Bioinformatics- Menoufia University</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
