<app-success-notification #notification></app-success-notification>

<h1 class="title-contact">Contac Us</h1>
<div class="row contact-us">
  <div class="col-xl-5">
    <h1 appFadeanmation="animate__bounceIn">Let's work together</h1>
    <p appFadeanmation="animate__bounceIn">
      Email, phone, or LinkedIn — I reply fast.
    </p>
    <div class="btn-contact">
      <a
        href="https://wa.me/201009404627"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button class="whatsapp-btn" appFadeanmation="animate__zoomIn">
          <i class="fa-brands fa-whatsapp"></i> Whatsapp
        </button>
      </a>

      <a href="tel:+201009404627">
        <button class="callme-btn" appFadeanmation="animate__zoomIn">
          <i class="fa-solid fa-phone-volume"></i>  Call Me
        </button>
      </a>
    </div>
  </div>

  <div class="col-xl-6">
    <form appFadeanmation="animate__zoomIn">
      <div class="group">
        <input #valueEmail placeholder="Enter Your Email" />
      </div>

      <div class="group">
        <textarea #valueMessage placeholder="Enter Your Message"></textarea>
      </div>
      <div>
        <button
          [ngClass]="{ disapeld: isLoading }"
          class="btn-submit"
          (click)="submitUser(valueMessage, valueEmail)"
        >
          <span class="loader" *ngIf="isLoading"></span>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
