.title-contact {
  text-align: center;
  margin: auto;
  border-bottom: 3px solid var(--primary-color);
  width: fit-content;
}

.contact-us {
  background-color: black;
  justify-content: center;
  form {
    position: relative;
    border: 1px solid rgba(99, 102, 241, 0.2);
    background: hsl(218, 35%, 13%);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    h4 {
      color: var(--primary-color);
    }
  }

  input,
  textarea {
    padding: 10px;
    color: white;
    width: 100%;
    display: block;
    background-color: transparent;
    border: 1px solid rgba(99, 102, 241, 0.2);
    border-radius: 7px;
  }
  .btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: transparent;
    border: 0;
    background-color: rgb(79, 70, 229);
    color: white;
    margin-top: 30px;
    border-radius: 7px;
    padding: 10px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.btn-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  button {
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border: 0;
    border-radius: 7px;
    &:hover {
      opacity: 0.5;
    }
  }

  .whatsapp-btn {
    background: green;
    border: 1px solid rgba(99, 102, 241, 0.2);
  }

  .callme-btn{
    background: rgb(23, 29, 43);
    border: 1px solid rgba(99, 102, 241, 0.2);
  }

}


a {
  text-decoration: none;
}

.loader {
  border: 2px solid white;
  border-top: 2px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.disapeld {
  pointer-events: none;
  opacity: 0.5;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .btn-contact {
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .btn-contact {
    justify-content: center;
    margin-bottom: 20px;
  }
}
