.background {
  background-color: black;
}

.main-row {
  justify-content: space-around;
  align-items: center;
}

.card-progres {
  background:#172030;
  color: white;
  border-radius: 1rem;
  padding: 10px;
  border: 1px solid rgba(99, 102, 241, 0.2);

  flex: 1 1 31%;
  box-sizing: border-box;
}

.flex-progress {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

progress {
  width: 100%;
  height: 10px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eee;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: rgb(145, 143, 143);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, #6366f1, #22d3ee);
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-row {
    justify-content: center;
        // gap: 30px;
  }
  .card-progres {
    flex: 1 1 100%;
  }
}


@media (min-width:767px) and (max-width:1200px){
    .main-row {
    justify-content: center;
    // gap: 30px;
  }
}
