<h1 class="style-title">Skills</h1>
<div class="row main-row background">
  <div class="col-12 col-xl-5 position-relative" appFadeanmation="animate__zoomIn">
    <h3 class="header-title">Skills</h3>
    <p>Snapshot of my core BI stack.</p>
    <div class="flex-progress mt-4">
      <div class="card-progres px-2" *ngFor="let item of dataStaticts">
        <div class="d-flex justify-content-between">
          <span>{{ item.title }}</span>
          <span>{{ item.value }}%</span>
        </div>
        <progress [value]="item.value" max="100" class="mb-3"></progress>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-5 position-relative pt-5" appFadeanmation="animate__zoomIn">
    <p-chart type="bar" [data]="data" [options]="options"></p-chart>
  </div>
</div>
